/*  * {
    border: 1px solid red;
} */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px;
}

.header-title {
    font-size: 50px;
    color: orangered;
}

.input-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
}

.game-area button {
    margin: 20px;
}

.choices-container {
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
}

.choice {
    margin: 10px; 
}

.choice-img {
    width: 100px; 
    height: auto; 
    transition: transform 0.2s; 
}

.choice-img:hover {
    transform: scale(1.1); 
}